<a href="https://colab.research.google.com/github/kimvkemenade/DM_team16/blob/main/DM_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 2 (Group 16)**


# Cleaning data

In [34]:
#importing the needed packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
# downloading the dataset
!kaggle datasets download rodsaldanha/arketing-campaign

# unzipping the dataset
!unzip arketing-campaign.zip

df_raw = pd.read_csv('marketing_campaign.csv', sep = ';')
marketing_df = df_raw.copy()

Dataset URL: https://www.kaggle.com/datasets/rodsaldanha/arketing-campaign
License(s): other
arketing-campaign.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  arketing-campaign.zip
replace marketing_campaign.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [36]:
marketing_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [37]:
print("Shape of the dataframe:", marketing_df.shape)
marketing_df.info()

Shape of the dataframe: (2240, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

## Missing values

In [38]:
# Number of missing values
print(marketing_df.isnull().sum())

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [39]:
# Displaying rows where 'Income' is missing
print(marketing_df[marketing_df['Income'].isnull()])

         ID  Year_Birth   Education Marital_Status  Income  Kidhome  Teenhome  \
10     1994        1983  Graduation        Married     NaN        1         0
27     5255        1986  Graduation         Single     NaN        1         0
43     7281        1959         PhD         Single     NaN        0         0
48     7244        1951  Graduation         Single     NaN        2         1
58     8557        1982  Graduation         Single     NaN        1         0
71    10629        1973    2n Cycle        Married     NaN        1         0
90     8996        1957         PhD        Married     NaN        2         1
91     9235        1957  Graduation         Single     NaN        1         1
92     5798        1973      Master       Together     NaN        0         0
128    8268        1961         PhD        Married     NaN        0         1
133    1295        1963  Graduation        Married     NaN        0         1
312    2437        1989  Graduation        Married     NaN        0         0
319    2863        1970  Graduation         Single     NaN        1         2
1379  10475        1970      Master       Together     NaN        0         1
1382   2902        1958  Graduation       Together     NaN        1         1
1383   4345        1964    2n Cycle         Single     NaN        1         1
1386   3769        1972         PhD       Together     NaN        1         0
2059   7187        1969      Master       Together     NaN        1         1
2061   1612        1981         PhD         Single     NaN        1         0
2078   5079        1971  Graduation        Married     NaN        1         1
2079  10339        1954      Master       Together     NaN        0         1
2081   3117        1955  Graduation         Single     NaN        0         1
2084   5250        1943      Master          Widow     NaN        0         0
2228   8720        1978    2n Cycle       Together     NaN        0         0

     Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
10    2013-11-15       11         5  ...                  7             0
27    2013-02-20       19         5  ...                  1             0
43    2013-11-05       80        81  ...                  2             0
48    2014-01-01       96        48  ...                  6             0
58    2013-06-17       57        11  ...                  6             0
71    2012-09-14       25        25  ...                  8             0
90    2012-11-19        4       230  ...                  9             0
91    2014-05-27       45         7  ...                  7             0
92    2013-11-23       87       445  ...                  1             0
128   2013-07-11       23       352  ...                  6             0
133   2013-08-11       96       231  ...                  4             0
312   2013-06-03       69       861  ...                  3             0
319   2013-08-23       67       738  ...                  7             0
1379  2013-04-01       39       187  ...                  5             0
1382  2012-09-03       87        19  ...                  5             0
1383  2014-01-12       49         5  ...                  7             0
1386  2014-03-02       17        25  ...                  7             0
2059  2013-05-18       52       375  ...                  3             0
2061  2013-05-31       82        23  ...                  6             0
2078  2013-03-03       82        71  ...                  8             0
2079  2013-06-23       83       161  ...                  6             0
2081  2013-10-18       95       264  ...                  7             0
2084  2013-10-30       75       532  ...                  1             0
2228  2012-08-12       53        32  ...                  0             0

      AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
10               0             0             0             0         0
27               0             0             0             0         0
43               0             0             0             0         0
48               0             0             0             0         0
58               0             0             0             0         0
71               0             0             0             0         0
90               0             0             0             0         0
91               0             0             0             0         0
92               0             0             0             0         0
128              0             0             0             0         0
133              0             0             0             0         0
312              1             0             1             0         0
319              1             0             1             0         0
1379             0             0             0             0         0
1382             0             0             0             0         0
1383             0             0             0             0         0
1386             0             0             0             0         0
2059             0             0             0             0         0
2061             0             0             0             0         0
2078             0             0             0             0         0
2079             0             0             0             0         0
2081             0             0             0             0         0
2084             0             1             0             0         0
2228             1             0             0             0         0

      Z_CostContact  Z_Revenue  Response
10                3         11         0
27                3         11         0
43                3         11         0
48                3         11         0
58                3         11         0
71                3         11         0
90                3         11         0
91                3         11         0
92                3         11         0
128               3         11         0
133               3         11         0
312               3         11         0
319               3         11         0
1379              3         11         0
1382              3         11         0
1383              3         11         0
1386              3         11         0
2059              3         11         0
2061              3         11         0
2078              3         11         0
2079              3         11         0
2081              3         11         0
2084              3         11         1
2228              3         11         0

[24 rows x 29 columns]

Since only 24 rows have missing values, we are dropping them, believing it will not affect the data:

In [40]:
# Dropping NAs
marketing_df.dropna()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

In [41]:
# Checking whether there are duplicated values
marketing_df.duplicated().sum()

0

## Outliers